@(title: String)
<head xmlns="http://www.w3.org/1999/html">
    <title>@title</title>

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("deps/js/jquery-2.1.1.min.js")"></script>
    <link rel="stylesheet" href="@routes.Assets.at("deps/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />
    <script src="@routes.Assets.at("deps/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("deps/js/share.min.js")"></script>

    <script src="@routes.Assets.at("/deps/webcomponentsjs/webcomponents.min.js")"></script>
    <link rel="import" href="@routes.Assets.at("/deps/polymer/polymer.html")">

    <link rel="import" href="@routes.Assets.at("elements/chess-board.html")">
    <link rel="import" href="@routes.Assets.at("elements/player-info.html")">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
</head>