@(user: Option[User])
<script src="@routes.Assets.at("/deps/js/angular.min.js")"></script>
<script src="@routes.Assets.at("/javascripts/chatapp.js")"></script>
<script src="@routes.Assets.at("/javascripts/chatcontroller.js")"></script>
<audio _id="chat-notify-sound"preload="auto">
<source type="audio/mpeg" src="@routes.Assets.at("/sounds/notify.mp3")">
<source type="audio/wav" src="@routes.Assets.at("/sounds/notify.wav")">
<source type="audio/ogg" src="@routes.Assets.at("/sounds/notify.ogg")">
</audio>
<div class="col-md-4" style="margin-top: 20px;" ng-app="chatapp">
    <div class="panel panel-default" _id="chatwrapper" ng-controller="ChatCtrl">
        <div class="panel-heading">
            RECENT CHAT HISTORY
        </div>

        <div class="panel-body" style="text-align: left;">
            <ul class="media-list" style="overflow: auto; height: 300px;" _id="history">
                <!-- chat Nachrichten -->
                <li class="media" ng-repeat="msg in msgs track by $index">
                    <div>
                        <div class="media">
                            <!-- user Image -->
                            <div class="pull-left" href="#">

                                <img ng-if="msg.img != 'none'" class="media-object img-circle "  alt="{{msg.role}}" style="width: 50px" src="@routes.Assets.at("images/spectator.png")" />
								<div ng-if="msg.img == 'none'">
									<img ng-if="msg.role == 'black'" class="media-object img-circle " alt="{{msg.role}}" style="width: 50px" src="@routes.Assets.at("images/black.png")" />
									<img ng-if="msg.role == 'white'" class="media-object img-circle " alt="{{msg.role}}" style="width: 50px" src="@routes.Assets.at("images/white.png")" />
									<img ng-if="msg.role == 'spectator'" class="media-object img-circle " alt="{{msg.role}}" style="width: 50px" src="@routes.Assets.at("images/spectator.png")" />
								</div>
                            </div>
                            <!-- Chat Output -->
                            <div class="media-body" _id="chattext" style="display: inline;">
                                {{msg.txt}}
                                <br/>

                                <small ng-if="msg.email != 'none'" class="text-muted" style="color: #aaa;">{{msg.email}} | {{msg.role}} | {{msg.time}}</small>


                                <small ng-if="msg.email == 'none'" class="text-muted" style="color: #aaa;">{{msg.role}} | {{msg.time}}</small>

                                <hr style="border-top: 1px solid #fff;"/>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="panel-footer">
            <div class="input-group">
                <form _id="chatform">
                <input type="text" class="form-control" placeholder="Enter Message" value="" _id="text"/>
                    <input type="submit" class="btn btn-primary pull-left" value="Send"/>
                </form>
                <script>
                    $(function(){
                        $('#chatform').submit(function(){
                            @if(user != None){
                            var img = "@user.get.main.avatarUrl";
                            var email = "@user.get.main.firstName";
                            }else{
                            var img = "none";
                            var email = "none";
                            }
                            GameController.sendChatMessage($('#text').val(), img, email);
                            $('#text').val("").focus();
                            return false;
                        });
                    });
                </script>
            </div>

        </div>

    </div>
</div>