@(user: Option[User])
<html>
@baseHeader("Chess Online")
<body>

@baseNavBar(user)
<div class="container">
<div class="jumbotron text-center">
    <div class="row">
        <h1>Welcome</h1>
        <h1 style="font-family:ChessFont;color:#EEEEEE;">N p K W V S T</h1>
        <p>This Chess Game is a project of computer science students for the Web-Technologies-Lecture at
        <a href="www.htwg-konstanz.de">HTWG-Konstanz</a>.
        You can start a game by clicking on New Game. If you create an account or login with Google-Single-Sign-On you can
        also see a list of all game created by you. Invite others to join your game by simply sharing the link. This project is
        also on github.com. Background image by Levente Fulop
        <a href="@routes.Assets.at("images/background-small.jpg")">Wiki-Commons</a>.
    </div>
    </div>
</div>
</body>
</html>
